.notifications-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
    z-index: 1000; /* Ensure it appears above other elements */
    position: absolute;
    top: 64px;
    right: 0px;
}

.notifications-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.notifications-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notification-item {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.notification-item:last-child {
    border-bottom: none;
}
